body {
  background: rgb(238, 238, 238);
  margin: 0rem 17rem;
  height: 200rem;
}

h1,
h2,
h5 {
  font-family: "Manjari", serif;
}

h1 {
  color: white;
  font-size: 200%;
  margin: 0;
}

p {
  letter-spacing: 0.1em;
  line-height: 1.6rem;
}

p,
h2 {
  font-family: "Manjari", sans-serif;
  color: rgb(87, 82, 82);
  margin: 0;
}

.bigcontainer {
  height: 20%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.bigcontainer h1 {
  color: black;
  font-size: 3em;
}

.bigcontainer span {
  color: whitesmoke;
  background: lightblue;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item1 {
  background: lightblue;
}
.item1 :nth-child(2) {
  margin: 0% 2%;
}
.item1 :nth-child(1) {
  margin: 0% 30%;
}

.item2 {
  background: orangered;
}

.item3 {
  background: lightblue;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 40% 60%;
}
.item3 :nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
  margin: 0rem 50%;
  height: 3rem;
  width: 8rem;
  background: white;
  box-shadow: 5px 10px 18px #888888;
}
.item3 :nth-child(2) {
  grid-area: 1 / 2 / 3 / 3;
}

.item4 {
  background: orange;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
}

main {
  background: lightgrey;
  height: 40%;
  display: grid;
}

.first {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 120px;
}

.first :nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
  margin: 0% 25%;
}
.first :nth-child(2) {
  grid-area: 2 / 1 / 3 / 2;
  margin: 0% 25%;
  height: 3rem;
  width: 8rem;
  background: white;
  box-shadow: 5px 10px 18px #888888;
}
.first :nth-child(3) {
  grid-area: 1 / 2 / 3 / 3;
  margin-right: 25%;
}

.second {
  display: flex;
  flex-direction: row;
}

.third,
.fourth {
  background: rgb(182, 182, 6);
  text-align: center;
  padding: 0rem 20rem;
}

.sixboxcontainer {
  background: lightcoral;
  height: 20%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.box1 {
  text-align: center;
  background: lightblue;
}
.box2 {
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 20% 80%;
  text-align: center;
  background: white;
}
.box2 :nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
  color: grey;
}
.box2 :nth-child(2) {
  grid-area: 2 / 2 / 3 / 3;
  color: black;
}
.box3 {
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 20% 80%;
  text-align: center;
  background: lightgrey;
}
.box3 :nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
  color: grey;
}
.box3 :nth-child(2) {
  grid-area: 2 / 2 / 3 / 3;
  color: black;
}

.box4 {
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 20% 80%;
  text-align: center;
  background: white;
}
.box4 :nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
  color: grey;
}
.box4 :nth-child(2) {
  grid-area: 2 / 2 / 3 / 3;
  color: black;
}
.box5 {
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 20% 80%;
  text-align: center;
  background: orangered;
}
.box5 :nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
  color: grey;
}
.box5 :nth-child(2) {
  grid-area: 2 / 2 / 3 / 3;
  color: black;
}
.box6 {
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 20% 80%;
  text-align: center;
  background: white;
}
.box6 :nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
  color: grey;
}
.box6 :nth-child(2) {
  grid-area: 2 / 2 / 3 / 3;
  color: black;
  text-align: center;
}

h3 {
  color: grey;
}

footer {
  text-align: center;
  height: 12%;
  background: rgb(99, 97, 97);
}

footer > a,
span {
  color: black;
  display: block;
  background: lightgrey;
  height: 10%;
}

.contactheader {
  background: lightblue;
  display: flex;
  height: 15%;
  justify-content: center;
  align-items: center;
}

.contactimg {
  width: 30%;
  align-items: left;
}

nav {
  height: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
}

.contactmain {
  height: 10%;
  background: gray;
  color: white;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.covered > h1 {
  grid-area: 2 / 2 / 3 / 3;
  align-items: center;
  justify-content: space-around;
  margin-top: 4rem;
  margin-left: 4rem;
}

.mail {
  grid-area: 1 / 3 / 1 / 3;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

button {
  height: 50%;
  width: 25%;
  border-radius: 50px;
  font-size: 0.8em;
  font-weight: bold;
  justify-content: left;
  grid-area: 3 / 2 / 5 / 3;
}

.contactfooter {
  height: 10%;
  background-image: url("images/map.jpg");
  background-size: cover;
  position: relative;
}

.box {
  position: absolute;
  color: white;
  background-color: orange;
  justify-content: space-between;
  font-family: "Times New Roman", Times, serif;
  left: 48px;
  top: 30px;
  width: 25%;
}

.text {
  margin-left: 10px;
  background-color: orange;
  text-align: left;
  margin: 6%;
}

.redicon {
  position: absolute;
  left: 390px;
  top: 110px;
  width: 7%;
}

h1 {
  margin: 0%;
}

h6 {
  margin: 0%;
}
